DB_HOST=mysql
DB_PORT=3306
DB_USER=appuser
DB_PASS=apppass123
PORT=3000
SECRET_KEY=mysecretkey

JWT_SECRET_KEY=superpasswordexample
JWT_EXPIRES_IN=24h

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=yourmailtrapuser
MAIL_PASS=yourmailtrappassword

# CORS
ORIGIN=http://localhost:4000

# Rate Limit
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
RATE_LIMIT_MESSAGE=Too many requests, please try again later.

# MySQL
MYSQL_ROOT_PASSWORD=rootpass123
MYSQL_DATABASE=express_db
MYSQL_USER=appuser
MYSQL_PASSWORD=apppass123
PRISMA_DATABASE_URL=mysql://root:rootpass123@localhost:3306/express_db?connection_limit=5
